<div class="containner">
  <div class="cont">
    <h2>Account Details</h2>
    <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg" alt="" class="img-rounded">
    <p class="userName">Bruce Wayne</p>
    <p style="padding-top: 10px !important">masterwayne@batman.com </p>
    <p> www.project.com </p>
    <p style="padding-bottom: 10px !important"> January 30, 1974</p>

  </div>
</div>

<!--  
    <div class="span2">
      <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"  alt="" class="img-rounded">
    </div>
    <div class="span4">
      <blockquote>
        <p>Bruce Wayne</p>
        <small><cite title="Source Title">Gotham, United Kingdom  <i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        <i class="icon-envelope"></i> masterwayne@batman.com <br>
        <i class="icon-globe"></i> www.bootsnipp.com <br>
        <i class="icon-gift"></i> January 30, 1974
      </p>
    </div>
  </div> -->