.headerBar
{
    width: 100%;
    max-height: 200px;
    min-height: 50px;
    text-align: right;
    background-color: rgb(112, 112, 223);
    right: 0;
    display: table;
    margin-right: 0px;
}

.rightContent
{
        display: inline-block;
     
        margin: 10px;

        text-align: center;

}
button{
    margin-left: 20px;
}