<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>



        <property name="connection_pool_size">1</property>

        <property name="hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>

<property name="hibernate.current_session_context_class">thread</property>
    <mapping class="com.mylaptop.model.Student" />
<!--
    <property name="hibernate.c3p0.min_size">5</property>
<property name="hibernate.c3p0.max_size">20</property>
<property name="hibernate.c3p0.acquire_increment">5</property>
<property name="hibernate.c3p0.timeout">1800</property>-->

<!--       <mapping class="org.javabrains.sanjaya.dto.UserDetails"/>-->

    </session-factory>
</hibernate-configuration>